PORT=5000
CLIENT_URL=http://localhost:5173
MONGO_URI=mongodb://127.0.0.1:27017/agriflow
JWT_SECRET=your_jwt_secret_key_here
FASTAPI_URL=http://127.0.0.1:8000/predict
OPENWEATHER_API_KEY=your_openweather_api_key_here
